.content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
  height: 1400px;
}

.trailerframe {
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  width: 80%;
  border: rgb(139, 49, 49) solid 2px;
  border-radius: 10px;
}

.title {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.rating {
  font-size: 50px;
  color: rgb(204, 204, 204);
  font-size: 30px;
  margin: auto;
  display: flex;
  cursor: pointer;
}

.bottom-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
  display: flex;
}

.thumbs {
  display: flex;
  background-color: rgb(161, 79, 79);
  border: none;
  border-radius: 12px;
  height: 50px;
  width: auto;
  margin: 5px;
}

.about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
