@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {font-family: "Raleway";}

#nav {
    margin: 0; padding: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(94, 48, 48);
    list-style: none;
}

#nav-icon {
    display: flex;
    width: 170px;
}

.nav-btn {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}