<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mən kiməm?</title>
    <link rel="stylesheet" href="../Static/Styles/index.css">
</head>
<body>
    <center>
        <h1>Mən kiməm?</h1>
    
        <img style="height: 250px; border-radius: 10px;" src="../Static/Image/Rai.jpeg">
        <br><br>
    
        <table cellpadding="6px" border="3px">
            <thead>
                <tr>
                    <th>Adım</th>
                    <th>Yaşım</th>
                    <th>Sevdiyim Rəng(lərim)</th>
                    <th>Sevdiyim 3 şey</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                   <td>Rais</td>
                    <td>18 - 16/04/07</td>
                    <td><center>Sarı, Mavi, <br> Qırmızı, Yaşıl</center></td>
                   <td>
                    <ul style="padding-right: 20px;">
                        <li>Elektronika</li>
                        <li>Heyvanlar</li>
                        <li>Kulinariya</li>
                    </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <h1>Haqqımda</h1>
        <p>
            <a href="https://instagram.com/@innovative_group_mmc">@innovative_group_mmc</a>-də oxumağa yeni başlamışam.<br>
            6 yaşımdan bəri uşaqlar tərəfindən izolasiya edildikdən sonra kompüter həyatıma ilk addımı atdım<br>
            və Proqramların yaxud cihazların arxa-planda necə işlədiyi mənim üçün çox maraqlı gəlir.<br>
            Çox-yönlü, inkluziv, dost-canlısı və autist gənc biriyəm.<br>
            <br>
            <em style="color: rgb(184, 184, 184);">Təhsil millətin gələcəyidir ~ Heydər Əliyev</em>
            <br><br>
            <em style="color: rgb(85, 85, 85);">Nə olursan ol, daima sən ol ~ Mən :)</em>
        </p>
    </center>
</body>
</html>