<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haqqında - ZORTFLIKS</title>
    <link rel="stylesheet" href="../Static/Style/nav.css" />
    <link rel="stylesheet" href="../Static/Style/page.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../Templates/home.html"
          ><img src="../Static/Image/ZortFliks-12-3-2025.png"
        /></a>
      </li>
      <li><a class="nav-btn" href="../Templates/home.html">Əsas səhifə</a></li>
      <li><a class="nav-btn" href="../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../Templates/about.html">Haqqında</a></li>
    </ul>

    <center><h1>Haqqında</h1></center>

    <center>
      <a href="https://instagram.com/innovative_group_mmc"
        >@innovative_group_mmc </a
      >-də kursa iştirak edən Rais Fətullayev tərəfindən sevgi ilə yazılmışdır.
      <br />
      Heç bir real-dünya brendi təmsil edilməyib. Sadəcə parodidir.
    </center>
  </body>
</html>
