<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Əsas Səhifə - ZORTFLIKS</title>
    <link rel="stylesheet" href="../Static/Style/nav.css" />
    <link rel="stylesheet" href="../Static/Style/page.css" />
  </head>
  <body>
    <div>
      <ul id="nav">
        <li id="nav-icon">
          <a id="nav-icon" href="../Templates/home.html"
            ><img src="../Static/Image/ZortFliks-12-3-2025.png"
          /></a>
        </li>
        <li>
          <a class="nav-btn" href="../Templates/home.html">Əsas səhifə</a>
        </li>
        <li><a class="nav-btn" href="../Templates/movies.html">Filmlər</a></li>
        <li><a class="nav-btn" href="../Templates/about.html">Haqqında</a></li>
      </ul>
    </div>

    <center><h1>Xoş gəlmişsiniz!</h1></center>

    <center>
      <p>Buralarda çox birşey yoxdur, sonraki səhifəyə yönlənin...</p>
    </center>
  </body>
</html>
