<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmlər - ZORTFLIKS</title>
    <link rel="stylesheet" href="../Static/Style/nav.css" />
    <link rel="stylesheet" href="../Static/Style/page.css" />
    <link rel="stylesheet" href="../Static/Style/movies.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../Templates/home.html"
          ><img src="../Static/Image/ZortFliks-12-3-2025.png"
        /></a>
      </li>
      <li><a class="nav-btn" href="../Templates/home.html">Əsas səhifə</a></li>
      <li><a class="nav-btn" href="../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../Templates/about.html">Haqqında</a></li>
    </ul>

    <center><h1>Filmlər</h1></center>

    <div class="movie-container">
      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/Titanic.jpg"
          alt="Titanic Movie Cover"
        />

        <h1 class="movie-title">Titanik</h1>
        <p class="pop-movie-quote">
          "Hara getsən, ora gələcəyəm"<br />~ Rosalie Ida Strauss
        </p>
        <p class="movie-date">1997-ci il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/titanic.html"
            >Filmə Get</a
          >
        </button>
      </div>

      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/SonicTheHedgehog.jpg"
          alt="Sonic The Hedgehog 1 Cover"
        />

        <h1 class="movie-title">Kirpi Sonic</h1>
        <p class="pop-movie-quote">
          "Gotta go fast!"<br />~ Kirpi Sonic
        </p>
        <p class="movie-date">2023-ci il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/sonic.html"
            >Filmə Get</a
          >
        </button>
      </div>

      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/FridayThe13Th.jpg"
          alt="Friday The 13th Cover"
        />

        <h1 class="movie-title">Cümə, ayın 13-ü</h1>
        <p class="pop-movie-quote">"Ki ki, ma ma."<br />~ Jason Voorhees</p>
        <p class="movie-date">1980-ci il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/13th.html"
            >Filmə Get</a
          >
        </button>
      </div>

      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/Gump.jpg"
          alt="Forrest Gump Cover"
        />

        <h1 class="movie-title">Forrest Qamp</h1>
        <p class="pop-movie-quote">
          "Anam həmişə həyatın bir qutu dolu şokolad olduğunu deyib, nə
          çıxacağını bilmirsən."<br />~ Forrest Qamp
        </p>
        <p class="movie-date">1994-ci il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/gump.html"
            >Filmə Get</a
          >
        </button>
      </div>

      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/insideout.jpg"
          alt="Inside Out 1 Cover"
        />

        <h1 class="movie-title">Tapmaca</h1>
        <p class="pop-movie-quote">
          "Hardasa oxumuşdum ki, boş otaq bir fürsətdir."<br />~ Məhəbbət/Joy
        </p>
        <p class="movie-date">2015-ci il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/insideout.html"
            >Filmə Get</a
          >
        </button>
      </div>

      <div class="movie">
        <img
          class="movie-img"
          src="../Static/Image/elemental.jpg"
          alt="Elemental Cover"
        />

        <h1 class="movie-title">Elemental</h1>
        <p class="pop-movie-quote">
          "Deməli olduğunuzu demək üçün əbədi vaxtınız yoxdur."<br />~ Dəniz/Wade
        </p>
        <p class="movie-date">2023-cü il</p>

        <button class="movie-btn">
          <a class="movie-hyper" href="../Templates/Movie-Pages/elemental.html"
            >Filmə Get</a
          >
        </button>
      </div>
    </div>
  </body>
</html>
