<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <ul style="background-color: rgb(119, 119, 184);">
        <li><a href="../templates/home.html">Home</a></li>
        <li><a href="../templates/projects.html">Projects</a></li>
        <li><a href="../templates/about.html">About</a></li>
        <li><a href="../templates/contacts.html">Contacts</a></li>
    </ul>
    
    <center><h1>Contacts</h1></center>

    <center>
    <table cellpadding="7px" border="3px">
        <thead>
            <tr>
                <th><img style="width: 20px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.cGhKEiJVeUeIgGeq4mvH2QHaHf%3Fpid%3DApi&f=1&ipt=448122e2f9e785fa08ea645e54589214aa508861375801b0f5432970fadc676c"> WhatsApp</th>
                <th><img style="width: 20px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.freepik.com%2Fpremium-vector%2Finstagram-app-icon-social-media-logo-vector-illustration_277909-403.jpg%3Fw%3D2000&f=1&nofb=1&ipt=7af033ab0e6f89cfd73e7465235d97d6af67019dd2502343e47979deca714bd0"> Instagram</th>
                <th><img style="width: 20px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffreepnglogo.com%2Fimages%2Fall_img%2F1708701266discord-logo-transparent.png&f=1&nofb=1&ipt=87b0d3fb4e5213cf42688812c57b6bff8b187d340fa126b1e8b30c8740368586"> Discord</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>+994-51-421-24-33</td>
                <td><a style="color: rgb(167, 137, 39)" target="_blank" href="https://www.instagram.com/rai_ko007/">@rai_ko007</a></td>
                <td>scoraxe</td>
            </tr>
        </tbody>
    </table>
    </center>
</body>
</html>