<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../Static/Style/style.css" />
  </head>
  <body>
    <div class="item-container">
      <div class="item">
        <img
          class="item-img"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81su87gKOAL._AC_SL1500_.jpg&f=1&nofb=1&ipt=f19c3699c2b805c4729e1e116f1907f449a72b0273ea70909ce4aa9ccd09b21e"
        />
        <p class="item-price">31 ₼</p>

        <h1 class="item-name">Yorğan</h1>

        <div class="bottom">
          <p class="item-date">Bakı, 18:72</p>
          <i class="fa-solid fa-heart fav-icon"></i>
        </div>
      </div>

      <div class="item">
        <img
          class="item-img"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81su87gKOAL._AC_SL1500_.jpg&f=1&nofb=1&ipt=f19c3699c2b805c4729e1e116f1907f449a72b0273ea70909ce4aa9ccd09b21e"
        />
        <p class="item-price">69 ₼</p>

        <h1 class="item-name">Yorğan</h1>

        <div class="bottom">
          <p class="item-date">Bakı, 18:72</p>
          <i class="fa-solid fa-heart fav-icon"></i>
        </div>
      </div>

      <div class="item">
        <img
          class="item-img"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81su87gKOAL._AC_SL1500_.jpg&f=1&nofb=1&ipt=f19c3699c2b805c4729e1e116f1907f449a72b0273ea70909ce4aa9ccd09b21e"
        />
        <p class="item-price">72 ₼</p>

        <h1 class="item-name">Yorğan</h1>

        <div class="bottom">
          <p class="item-date">Bakı, 18:72</p>
          <i class="fa-solid fa-heart fav-icon"></i>
        </div>
      </div>
    </div>
  </body>
</html>
