<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantik Səhifə</title>
    <link rel="stylesheet" href="../Static/Style/nav.css">
    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/home.css">
</head>

<body>
    <header>
        <nav>
            <a><img class="nav-icon"
                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20220910%2Foriginal%2Fpngtree-beauty-logo-png-image_8526313.png&f=1&nofb=1&ipt=8abbc859448943946294581bfd93b702e63d78e9a030c843f6e21b622d2c695f"
                    alt="Beauty Logo"></a>
            <ul>
                <li><a class="nav-btn" href="home.html">Home</a></li>
                <li><a class="nav-btn" href="products.html">products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="first-sect">
            <aside class="side-bar">
                <ul>
                    <li>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.Kz7Tblcx9WUOtq1KN1CaIQHaDt%3Fpid%3DApi&f=1&ipt=723fd10337000a2398797b2c321274f8bd40e992eab3c382b6adf50e234e1f49&ipo=images"
                            alt="Acne Care Products"><br>
                        Top 5 Beauty Products for acne
                    </li><br>
                    <li>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.sI-TElAvDKohsbmZo8gmaQHaEJ%3Fpid%3DApi&f=1&ipt=19710d38eb65e31c79c773c1996f3ea32a37ef1047c2e0f86930fcdebc2a481e&ipo=images"
                            alt="Die of Beauty Kit"><br>
                        Die of Beauty kit not for $15.99,<br>but for $5.99 just today
                    </li>
                </ul>
            </aside>
            <article class="first-sect-img">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fbackground%2F20230427%2Foriginal%2Fpngtree-beauty-cosmetic-products-on-dark-background-picture-image_2496070.jpg&f=1&nofb=1&ipt=8a8681ab05d9cd49b0011cff47f8dd3f3c2e2ed477cc44d91ead49a84ee77666"
                    alt="Beauty Products">
            </article>
            <aside class="side-bar">
                <li>Crazy Stuff here</li>
            </aside>
        </section>
    </main>

    <footer>OwO</footer>
</body>

</html>