<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animosity Wiki</title>
</head>
<body style="background-color: rgb(87, 113, 94);">
    <a href="home.html" style="cursor: pointer; color: white;">&lt; Ev'ə qayıt</a>
    <br>
    <br>
    <br>
    <h1 style="color: white;">Heyvanlar və Sairə Haqqında.</h1>

    <table border="2px" style="background-color: white;">
        <thead>
            <tr>
                <th>Şəkil</th>
                <th>Ad</th>
                <th>Ömrü</th>
                <th>Haqqında</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img alt="Zenci Kedi" style="width: 150px" src="../Static/Image/Heyvanlar/kat.png"></td>
                <td>Pişik</td>
                <td>13-20 il</td>
                <td><p>Pişiklər ümumiyyətlə <strong>təvəzökarlı</strong> və <strong>təmizkar</strong> heyvanlar olurlar, yemək yedikdə belə sakin, <strong>özlərinə yaxşı baxırlar.</strong></p></td>
            </tr>

            <tr>
                <td><img alt="Roblox Dog" style="width: 150px" src="../Static/Image/Heyvanlar/dog.png"></td>
                <td>İt</td>
                <td>10-15 il</td>
                <td><p>İtlər çox məzəli və oynaq heyvanlardır, sahiblərinə qarşı həmişə qayğı, loyallıq, və sevgi göstərirlər.</p></td>
            </tr>

            <tr>
                <td><img alt="Pingu Funny" style="width: 150px" src="../Static/Image/Heyvanlar/pingu.jpg"></td>
                <td>Pinqvin</td>
                <td>6-25 il</td>
                <td><p>Pinqvinlər əsasən Cənub yarımkürəsində rast gəlinən,<br>
                    fərqli qara-ağ rəngləri və əla üzgüçülük qabiliyyətləri ilə tanınan, uça bilməyən quşlar ailəsindəndir.</p></td>
            </tr>

            <tr>
                <td><img alt="Zoktay" style="width: 150px" src="../Static/Image/Heyvanlar/zeynep.png"></td>
                <td>Zeynep Sude Oktay</td>
                <td>??? wth</td>
                <td><p>Çat kapı gelirim aklına, oğlum ~ Manifest</p></td>
            </tr>
        </tbody>
    </table>

</body>
</html>