<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kompüterlər və Heyvanlar</title>
</head>
<body style="background-color: rgb(114, 109, 136);">
    <h1 style="color: white">Kompüterlər və Heyvanlar Haqqında Proyekt</h1>
    <p style="color: white;">Bu proyekt, dərsdə keçdiyimiz kimi SEO, Table, inline-css, hyperlinks,<br>
         mətn təgləri kimi topiclərdən istifadə edilərək yazılıb.
    </p>
    <a href="computers.html" style="cursor: pointer; color: rgb(109, 219, 244);">Kompüterlər - ComMarket</a>
    <br>
    <br>
    <a href="animals.html" style="cursor: pointer; color: rgb(109, 244, 109);">Heyvanlar - Animosity Wiki</a>

    <br>
    <br>
    <strong style="color: rgb(191, 191, 191);"><em>
        Qoyduğum placeholder adlar heç bir brendi təmsil etmir (əyləncəsinə uydurma)<br>
        Made with love by Raiko/Rais/ScorAxe 💛</em>
    </strong>
</body>
</html> 