header {
  height: 100px;
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 1050;
}

#nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

#nav a {
  text-decoration: none;
  transition: 0.3s;
}

#nav a:hover {
  color: rgb(150, 148, 148);
}

/* Main */
main {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#top-content {
  display: flex;
  width: 90%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

#left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

#left-content h1 {
  font-size: 48px;
  font-weight: 700;
}

#paragraph {
  width: 500px;
}

.robot {
  width: fit-content;
  position: relative;
  display: flex;
}

/* Features */
#feature-container {
  width: 1034px;
  display: flex;
  padding: 15px 75px;
  gap: 50px;
  background-color: #3e3c3c4d;
  position: relative;
  top: -5%;
  border-radius: 12px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  gap: 25px;
  background-color: #3e3c3c4d;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.feature-card:hover {
  background-color: #5a6ae472;
}

/* re-usable elements */
.button {
  padding: 4px 14px;
  border-radius: 6px;
  background: none;
  border: solid 1px white;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-image: linear-gradient(#145dcb, #1eacd0);
  border: 1px solid rgba(150, 148, 148, 0);
}

.blurple {
  color: #9ba4ed;
}

#nav-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

/* Responsivity */
@media (max-width: 900px) {
  #nav {
    display: none;
  }
  
  #register {
    display: flex;
    gap: 10px
  }

  #nav-toggle button {
    display: flex;
  }

  #feature-container {
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
  }

  #top-content {
    width: fit-content;
  }

  .robot {
    width: 25px;
    z-index: -2;
  }

  #left-content {
    position: absolute;
    left: 0;
    padding: 0px 15px;
  }
}