@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "SF Pro Display";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
