* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(200, 214, 240);
}

.title {
  margin-top: 8px;
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
}

.items {
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  margin: 3% auto;
  height: 70%;
  gap: 48px;
}

.item {
  background-color: rgb(204, 234, 235);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px black solid;
  height: 450px;
  width: 300px;
  border-radius: 12px;
}

.name {
  margin-top: 15px;
  font-size: 20px;
}

.price {
  font-weight: bold;
}

.image img {
  border-radius: 12px;
  width: 100%;
}

.bottom {
  margin-top: auto;
  display: flex;
}

.bottom-right {
  margin-left: auto;
}

.category {
  color: gray;
}

.profile {
  margin-right: 10px;
}
