.faq-column {
  flex-direction: column;
  align-items: center;
}

.faq-card {
  width: 792px;
  border: 1px solid #2E2E2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.collapse {
  cursor: pointer;
  border: none;
  background: none;
}