.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 120px;
  background-image: url("../../images/Ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feature-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feature-detail {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}

.row {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 384px;
  border-radius: 12px;
  padding: 48px 36px;
  border: 1px #4d4d4d solid;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.card-text {
  color: #999999;
  text-align: center;
}
