footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 120px 0px 120px;
}

.footer {
  display: flex;
  width: 1200px;
  gap: 126px;
  padding: 40px 0px;
}

.left-foot {
  display: flex;
  gap: 126px;
  padding: 40px 0px;
}

.right-foot {
  display: flex;
  gap: 35px;
  padding: 40px 0px;
  flex-direction: column;
  justify-content: start;
}

.foot-brand {
  align-items: start;
}

.copyright {
  padding: 40px 120px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 24px;
  height: 144px;
}

.links ul {
  list-style: none;
}

.links .a {
  text-decoration: none;
  transition: 0.3s;
  color: #999999;
}
.links .a:hover {
  cursor: pointer;
  color: white;
}

.email-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
}

.input {
  border: none;
  width: 100%;
  background-color: transparent;
  height: 40px;
}

.input:focus {
  outline: none;
}

.send {
  cursor: pointer;
  background: none;
  border: none;
}
