#testimonial {
  background-position: 50% 70%;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
}

.user-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.user-cards1 {
  overflow: hidden;
  width: 120%;
  justify-content: center;
}

.user-cards2 {
  overflow: hidden;
  width: 120%;
  justify-content: center;
}

.testim {
  width: 373px;
  padding: 32px;
  gap: 32px;
  background-color: black;
}

.user {
  width: 100%;
  display: flex;
  align-content: start;
  gap: 16px;
}

.user-text {
  align-items: start;
}

.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.role {
  color: #4d4d4d;
}

.shadow1 {
  position: absolute;
  left: 0;
  height: 100%;
}

.shadow2 {
  position: absolute;
  right: 0;
  height: 100%;
}
