<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş</title>
    <link rel="stylesheet" href="../Static/Style/signin.css">
</head>
<body>
    
    <form>
        <center><h1>Giriş</h1><br>

        <label>İstifadəçi adı</label><br>
        <input class="input" type="text" placeholder="İstifadəçi adınızı daxil edin."><br><br>

        <label>Şifrə</label><br>
        <input class="input" type="password" placeholder="Şifrənizi daxil edin."><br><br>

        <button id="button" type="submit">Qeyd ol</button><br><br>
        <a href="register.html">Akauntunuz yoxdur?</a>
        </center>
    </form>

</body>
</html>