<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="../Static/Style/signin.css">
</head>
<body>
    
    <form>
        <center><h1>Qeydiyyat</h1><br>

        <label>Ad</label><br>
        <input class="input" type="text" placeholder="Adınızı daxil edin."><br><br>

        <label>Soyad</label><br>
        <input class="input" type="text" placeholder="Soyadınızı daxil edin."><br><br>

        <div>
        <label>Cinsiyyət<br></label>
        <input class="gender" name="gender" type="radio"> <label>Kişi</label> <input class="gender" name="gender" type="radio"> <label>Qadın</label><br>
        </div><br>

        <label>E-Poçt</label><br>
        <input class="input" type="text" placeholder="E-Poçtunuzu daxil edin."><br><br>

        <label>İstifadəçi adı</label><br>
        <input class="input" type="text" placeholder="İstifadəçi adınızı daxil edin."><br><br>

        <label>Şifrə</label><br>
        <input class="input" type="password" placeholder="Şifrənizi daxil edin."><br><br>

        <label>Şifrə Təsdiq</label><br>
        <input class="input" type="password" placeholder="Şifrənizi təsdiq edin."><br><br>

        <label>
            <input type="checkbox"> <a href="rules.html">Qaydaları oxudum</a> və razıyam.
        </label><br><br>

        <button id="button" type="submit">Qeydiyyatdan Keç</button><br><br>
        <a href="login.html">Əvvəldən istifadəçi olmusunuz?</a>
        </center>
    </form>

</body>
</html>