/* Init */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.header {
  height: 70px;
  width: 100%;
  padding: 10px 25px;
  background-color: rgb(219, 219, 219);
  box-shadow: 5px 1px 10px 1px black;
  display: flex;
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 15px;
}
.header img {
  height: 100%;
  width: 50px;
}
/* Navigation */
.header nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  list-style: none;
  display: flex;
}
.header nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header nav li a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.header nav li a:hover {
  color: rgb(138, 138, 138);
}

#nav-toggle {
  display: none;
  width: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#nav-toggle button {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

/* Main */
main {
  height: calc(100vh - 70px);
  margin-top: 70px;
}

/* Button elements */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  padding: 12px 15px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.primary {
  background-color: rgb(98, 135, 188);
}
.primary:hover {
  background-color: rgb(79, 109, 151);
}

.success {
  background-color: rgb(128, 188, 98);
}
.success:hover {
  background-color: rgb(97, 151, 79);
}

.warning {
  background-color: rgb(228, 188, 70);
}
.warning:hover {
  background-color: rgb(151, 143, 79);
}

.danger {
  background-color: rgb(188, 98, 98);
}
.danger:hover {
  background-color: rgb(151, 79, 79);
}

/* Text Elements */
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}

.text-d-none {
  text-decoration: none !important;
}

.text-d-underline {
  text-decoration: underline;
}

/* Font sizes */
.font-size1 {
  font-size: 26px !important;
}
.font-size2 {
  font-size: 24px !important;
}
.font-size3 {
  font-size: 20px !important;
}
.font-size4 {
  font-size: 18px !important;
}
.font-size5 {
  font-size: 16px !important;
}
.font-size6 {
  font-size: 12px !important;
}

/* Font weights */
.text-bold {
  font-weight: bold;
}

/* Flex */
.flexbox-row {
  display: flex;
  flex-direction: row;
}
.flexbox-column {
  display: flex;
  flex-direction: column;
}
.flexbox-wrap-0 {
  flex-wrap: nowrap;
}
.flexbox-wrap-1 {
  flex-wrap: wrap;
}

/* Align */
.just-start {
  justify-content: start;
}
.just-center {
  justify-content: center;
}
.just-end {
  justify-content: end;
}

.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}

/* Width */
.wt-25 {
  width: 25%;
}
.wt-50 {
  width: 50%;
}
.wt-75 {
  width: 75%;
}
.wt-100 {
  width: 100%;
}

.wt-fit {
  width: fit-content;
}

/* Height */
.ht-25 {
  height: 25%;
}
.ht-25v {
  height: 25vh;
}

.ht-50 {
  height: 50%;
}
.ht-50v {
  height: 50vh;
}

.ht-75 {
  height: 75%;
}
.ht-75v {
  height: 75vh;
}

.ht-100 {
  height: 100%;
}
.ht-100v {
  height: 100vh;
}

.ht-fit {
  height: fit-content;
}

/* Padding */
.padding-1 {
  padding: 10px;
}
.padding-2 {
  padding: 15px;
}
.padding-3 {
  padding: 20px;
}
.padding-4 {
  padding: 25px;
}
.padding-5 {
  padding: 30px;
}

/* Margin */
.margin-top-auto {
  margin-top: auto;
}

/* Left */
.padding-l-1 {
  padding: 0 0 0 10px;
}
.padding-l-2 {
  padding: 0 0 0 15px;
}
.padding-l-3 {
  padding: 0 0 0 20px;
}
.padding-l-4 {
  padding: 0 0 0 25px;
}
.padding-l-5 {
  padding: 0 0 0 30px;
}
/* Right */
.padding-r-1 {
  padding: 0 10px 0 0;
}
.padding-r-2 {
  padding: 0 15px 0 0;
}
.padding-r-3 {
  padding: 0 20px 0 0;
}
.padding-r-4 {
  padding: 0 25px 0 0;
}
.padding-r-5 {
  padding: 0 30px 0 0;
}
/* Bottom */
.padding-b-1 {
  padding: 0 0 10px 0;
}
.padding-b-2 {
  padding: 0 0 15px 0;
}
.padding-b-3 {
  padding: 0 0 20px 0;
}
.padding-b-4 {
  padding: 0 0 25px 0;
}
.padding-b-5 {
  padding: 0 0 30px 0;
}
/* Top */
.padding-t-1 {
  padding: 10px 0 0 0;
}
.padding-t-2 {
  padding: 15px 0 0 0;
}
.padding-t-3 {
  padding: 20px 0 0 0;
}
.padding-t-4 {
  padding: 25px 0 0 0;
}
.padding-t-5 {
  padding: 30px 0 0 0;
}

/* Left-Right */
.padding-lr-1 {
  padding: 0px 10px;
}
.padding-lr-2 {
  padding: 0px 15px;
}
.padding-lr-3 {
  padding: 0px 20px;
}
.padding-lr-4 {
  padding: 0px 25px;
}
.padding-lr-5 {
  padding: 0px 30px;
}

/* Gap */
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.gap-5 {
  gap: 60px;
}

/* Border */
.border-1 {
  border: 1px solid black;
}

/* Radius */
.radius-1 {
  border-radius: 7px;
}
.radius-2 {
  border-radius: 10px;
}
.radius-3 {
  border-radius: 12px;
}
.radius-4 {
  border-radius: 24px;
}
.radius-5 {
  border-radius: 40px;
}

.circle {
  border-radius: 50%;
}

/* Input */
.input-1 {
  padding-left: 10px;
  width: 650px;
  height: 35px;
}

/* Transitions */
.transition-1 {
  transition: 0.3s;
}
.transition-2 {
  transition: 0.6s;
}
.transition-3 {
  transition: 1.25s;
}

/* Overflow */
.hide-overflow {
  overflow: hidden;
}
.scroll-overflow {
  overflow: scroll;
}
