* {margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}

html, body {
    height: 100%; width: 100%;
}

body {
    background-color: rgb(81, 106, 110);
    color: white;
    display: flex;
}

form {
    background-color: rgb(145, 155, 151);
    border-radius: 15px;
    width: 600px;
    border: 2px black solid;
    padding: 25px;
    margin: auto;
}

.input {
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    width: 80%;
    height: 30px;
}

.gender {
    width: px;
}

#button {
    cursor: pointer;
    border-radius: 7px;
    border: none;
    width: 50%;
    height: 35px;
    font-size: 18px;
}