* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  height: 100px;
  width: 350px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
#btn:hover {
  color: white;
}

/* Left-side */
#btn::before {
  content: "";
  display: block;
  background-color: red;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  transition: 0.3s;
}
#btn:hover::before {
  left: -50%;
}
#btn:active::before {
  background-color: rgb(147, 44, 44);
}

/* Right-side */
#btn::after {
  content: "";
  display: block;
  background-color: blue;
  height: 100%;
  width: 100%;
  position: absolute;
  right: -100%;
  transition: 0.3s;
}
#btn:hover::after {
  right: -50%;
}
#btn:active::after {
  background-color: rgb(33, 33, 173);
}

span {
  position: absolute;
  z-index: 3;
}
