.fa-brands {
    color: orange;
}

.contacts {
    color: white;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contacts table {
    height: 150px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    border: none;
}

.social {
    color: yellow;
}