main {
    width: 100%;
    height: auto;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.first img {
    width: 1100px;
    box-shadow: 3px 2px 10px 1px black;
}

.first aside {
    display: flex;
    flex-direction: column;
    color: rgb(46, 46, 46);
    padding: 25px;
    width: 300px;
    height: 600px;
    background-color: orange;
    box-shadow: 3px 2px 10px 1px black;
    overflow: scroll;
    justify-content: space-between;
}

.first aside ul {
    list-style: none;
}

.first aside img {
    width: 100%;
    height: 30%;
}