header {
  height: 75px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0;
  height: 100%;
  background-color: rgb(240, 170, 41);
  font-weight: bold;
  gap: 10px;
  box-shadow: 3px 2px 10px 1px black;
}

.nav-icon {
  width: 35px;
}

nav ul {
  height: 100%;
  width: 100%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

nav li {
  display: flex;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 100%;
}

.nav-btn {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 148, 1);
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  border-radius: 7px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: rgb(248, 181, 56);
  box-shadow: 0px 0px 20px 1px black;
  height: 115%;
}

.nav-btn:active {
  background-color: rgb(173, 126, 39);;
}
