@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  height: auto;
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
