.projects {
  display: flex;
  width: 75%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.project {
  background-color: rgb(189, 129, 19);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px black solid;
  border-radius: 10px;
  height: 500px;
  width: 300px;
}

.info {
  overflow: scroll;
}

.project h1 {
  color: yellow;
  font-size: 14px;
  height: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.image img {
  width: 100%;
  height: 275px;
  background-color: white;
}

.bottom {
  margin-top: auto;
  width: 100%;
  height: 50px;
  bottom: 15px;
}

.enter {
  text-decoration: none;
  border: none;
  border-radius: 7px;
  color: white;
  display: flex;
  background-color: goldenrod;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.enter:hover {
  background-color: gold;
}
.enter:active {
  background-color: rgb(131, 111, 1);
}

.enter {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
