<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Static/Style/index.css" />
  </head>
  <body>
    <center><h1>ElekŞOP</h1></center>

    <div class="items">
      <div class="item-container">
        <a>
          <img
            class="item-img"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.apple.com%2Fnewsroom%2Fimages%2F2025%2F09%2Fapple-unveils-iphone-17-pro-and-iphone-17-pro-max%2Farticle%2FApple-iPhone-17-Pro-color-lineup-250909_inline.jpg.large_2x.jpg&f=1&nofb=1&ipt=d0696f08786464c651473aec49412cb8bd69104faa4c51cc92a2fbd1503903f4"
            alt="iPhone 17 Pro"
          />
          <p class="price">2599 ₼</p>
          <p></p>

          <h1 class="name">
            iPhone 17 Pro - 256 GB<br />
            Yeni - İstənilən Rəng
          </h1>
          <p class="date-and-location">Bakı, bugün - 07:00</p>

          <div class="buttons">
            <button>İndi Al</button>
            <button>Kredit</button>
            <button>Səbətə At</button>
          </div>
        </a>
      </div>
      <div class="item-container">
        <a>
          <img
            class="item-img"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.apple.com%2Fnewsroom%2Fimages%2F2025%2F09%2Fapple-unveils-iphone-17-pro-and-iphone-17-pro-max%2Farticle%2FApple-iPhone-17-Pro-color-lineup-250909_inline.jpg.large_2x.jpg&f=1&nofb=1&ipt=d0696f08786464c651473aec49412cb8bd69104faa4c51cc92a2fbd1503903f4"
            alt="iPhone 17 Pro"
          />
          <p class="price">2999 ₼</p>
          <p></p>

          <h1 class="name">
            iPhone 17 Pro - 512 GB<br />
            Yeni - İstənilən Rəng
          </h1>
          <p class="date-and-location">Bakı, bugün - 07:10</p>

          <div class="buttons">
            <button>İndi Al</button>
            <button>Kredit</button>
            <button>Səbətə At</button>
          </div>
        </a>
      </div>
      <div class="item-container">
        <a>
          <img
            class="item-img"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.apple.com%2Fnewsroom%2Fimages%2F2025%2F09%2Fapple-unveils-iphone-17-pro-and-iphone-17-pro-max%2Farticle%2FApple-iPhone-17-Pro-color-lineup-250909_inline.jpg.large_2x.jpg&f=1&nofb=1&ipt=d0696f08786464c651473aec49412cb8bd69104faa4c51cc92a2fbd1503903f4"
            alt="iPhone 17 Pro"
          />
          <p class="price">3299 ₼</p>

          <h1 class="name">
            iPhone 17 Pro - 1 TB (1024GB)<br />
            Yeni - İstənilən Rəng
          </h1>
          <p class="date-and-location">Bakı, bugün - 07:20</p>

          <div class="buttons">
            <button>İndi Al</button>
            <button>Kredit</button>
            <button>Səbətə At</button>
          </div>
        </a>
      </div>
      <div class="item-container">
        <a>
          <img
            class="item-img"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.apple.com%2Fnewsroom%2Fimages%2F2025%2F09%2Fapple-unveils-iphone-17-pro-and-iphone-17-pro-max%2Farticle%2FApple-iPhone-17-Pro-color-lineup-250909_inline.jpg.large_2x.jpg&f=1&nofb=1&ipt=d0696f08786464c651473aec49412cb8bd69104faa4c51cc92a2fbd1503903f4"
            alt="iPhone 17 Pro"
          />
          <p class="price">3499 ₼</p>
          <p></p>

          <h1 class="name">
            iPhone 17 Pro - 2 TB (2048GB)<br />
            Yeni - İstənilən Rəng
          </h1>
          <p class="date-and-location">Bakı, bugün - 07:30</p>

          <div class="buttons">
            <button>İndi Al</button>
            <button>Kredit</button>
            <button>Səbətə At</button>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
