.items {
  height: 100%;
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  gap: 20px;
}

.item {
  background-color: rgb(231, 221, 174);
  border: 1px solid rgb(255, 245, 105);
  height: 520px;
  width: 350px;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.image img {
  background-color: white;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid rgb(255, 245, 105);
}

.price {
  font-weight: bolder;
  font-size: 26px;
}

.name {
  font-size: 24px;
  font-weight: 400;
}

.brand {
  margin-right: 10px;
  font-weight: 300;
  font-size: 16px;
}

.category {
  color: gray;
  font-weight: bold;
}

.bottom {
  margin-top: auto;
  display: flex;
}

.bottom button {
  background-color: rgb(214, 185, 132);
  border: none;
  height: 20px;
  padding: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.bottom button:hover {
  background-color: rgb(155, 134, 94);
}

.bottom-right {
  margin-left: auto;
}
