@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

body {
  background-color: rgb(255, 249, 241);
}
