<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../Assets/Styles/style.css">
</head>

<body>

    <header>
        <div class="brand">
            <h1>Rentorama</h1>
        </div>

        <nav>
            <ul>
                <li><a>Home</a></li>
                <li class="cars-btn"><a class="car">Car</a>s</li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>

        <div class="profile">
            <img src="../Assets/Images/Ellipse 1.png" alt="Profile Picture">
        </div>
    </header>

    <main>
        <div class="polygon">
            <img src="../Assets/Images/Polygon 1.png" alt="Polygon">
        </div>

        <section class="main-sect">
            <aside class="side">
                <div class="info">
                    <h1 class="car-name">PORSCHE 911</h1>
                    <p class="model">GT3 RS</p>
                    <p class="desc">386 kW (525 PS) catapult you from 0-100 km/h in 3.2 seconds.
                    </p>
                </div>

                <div class="buttons">
                    <div class="button">BUY</div>
                    <div class="button">RENT</div>
                </div>
            </aside>

            <article>
                <img class="car-img" src="../Assets/Images/porsche-model 1.png" alt="Porsche 911 GT3 RS">
            </article>
        </section>
    </main>

</body>

</html>