<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Static/Style/index.css">
</head>
<body>
    
    <center>
    <form>
        <center>
        <h1>Qeydiyyat</h1><br>

        <label>Ad</label><br>
        <input placeholder="Adınızı daxil edin" type="text"><br><br>
        
        <label>İstifadəçi Adı</label><br>
        <input placeholder="İstifadəçi Adınızı daxil edin" type="text"><br><br>

        <label>Doğum Tarixi</label><br>
        <input placeholder="İstifadəçi Adınızı daxil edin" type="text"><br><br>

        <label>Telefon</label><br>
        <input placeholder="Telefon nömrənizi daxil edin" type="tel"><br><br>

        <label>E-Poçt</label><br>
        <input placeholder="E-Poçtunuzu daxil edin" type="text"><br><br>

        <label>Şifrə</label><br>
        <input placeholder="Şifrənizi daxil edin" type="password"><br><br>

        <label>Şifrə Təsdiq</label><br>
        <input placeholder="Şifrənizi təsdiqləyin" type="password"><br><br>

        <button id="submit-button" type="submit">Qeydiyyatdan Keç</button>
        </center>
    </form>
    </center>
    
</body>
</html>