body {
  height: 100%;
  width: 100%;
  display: flex;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  font-size: 30px;
  height: 350px;
  width: 350px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(150vh, 0) rotate(45deg);
    background-color: aquamarine;
  }

  50% {
    transform: translate(150vh, 65vh) rotate(90deg);
    background-color: rgb(72, 255, 0);
  }

  75% {
    transform: translate(0, 65vh) rotate(180deg);
    background-color: rgb(238, 98, 63);
    border-radius: 50%;
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
    background-color: orange;
  }
}
