@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(245, 219, 236);
}

.item-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 232, 206);
  border-radius: 10px;
  margin: 10px;
  padding: 25px;
  height: 380px;
  width: 20%;
  border: black 2px solid;
}

.item-img {
  border: black solid 2px;
  border-radius: 10px;
  width: 100%;
  height: 350px;
}

.item-price {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.item-name {
  font-size: 20px;
}

.bottom {
  display: flex;
  margin-top: auto;
}

.fav-icon {
  cursor: pointer;
  margin-left: auto;
}
