main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  margin-bottom: 10px;
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login form {
  max-height: 600px;
  max-width: 400px;
  width: 100%;
  background-color: rgba(97, 74, 43, 0.37);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}

.field {
  height: 60px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.field input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  border-radius: 7px;
  border: none;
  transition: 0.2s ease-in-out;
}

#gender {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

#gender input {
  width: 30px;
}

#agreement {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

#agreement input {
  width: 30px;
}

#login-btn {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#login-btn button {
  height: 100%;
  width: 100%;
  background-color: rgb(126, 104, 95);
  border-radius: 7px;
  border: none;
  transition: 0.3s ease;
}

#login-btn button:hover {
  background-color: rgb(99, 70, 58);
}

#hyper {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-reg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-reg a {
  color: black;
  transition: 0.3s;
}

.forgot-reg a:hover {
  color: rgb(155, 108, 88);
}

.field input:hover {
  outline: solid rgb(155, 108, 88);
}

.field input:focus {
  outline: solid rgb(99, 70, 58);
}
