header {
  height: 80px;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(126, 104, 95);
}

.branding h1 {
  font-family: "Times New Roman", Times, serif !important;
}

nav {
  height: 100%;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  font-size: 17px;
}

.nav-btn {
  height: 100%;
  width: 170px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  border-radius: 10px;
  background-color: rgb(97, 80, 73);
}

.basket-btn {
  width: 40px !important;
  position: relative;
}

.nav-btn a {
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn button {
  font-weight: 600;
  font-size: 16px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;
}

.basket-count {
  width: 15px;
  height: 15px;
  top: -10px;
  right: -5px;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn:hover {
  background-color: rgb(99, 70, 58);
}

.nav-btn:active {
  background-color: rgb(63, 46, 39);
}
