* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: calc(100% - 80px);
  width: 100%;
  margin: 80px 0 0 0;
  display: flex;
}
