@font-face {
  font-family: "Gill Sans Ultra Bold";
  src: url(../Fonts/GillSansUltraBold.ttf);
}

@font-face {
  font-family: "Gothic Demi";
  src: url(../Fonts/Gothicdemi.ttf);
}

@font-face {
  font-family: "Gothic Medium";
  src: url(../Fonts/OPTIFranklinGothic-Medium.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand h1 {
  font-family: "Gill Sans Ultra Bold";
}

.cars-btn {
  font-weight: 700;
}

.car {
  text-decoration: underline;
  font-weight: 700;
}

.polygon img {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 1120px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 70px 90px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-top: 130px;
}

.main-sect {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 75%;
  width: 95%;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

nav li {
  width: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}

nav li:hover {
  font-weight: 700;
  color: rgb(185, 178, 178);
}

nav a {
  width: 100%;
  height: 100%;
}

header ul {
  display: flex;
  list-style: none;
  color: white;
}

.profile {
  width: 50px;
}

.profile:hover {
  cursor: pointer;
}

.car-name {
  font-family: "Gothic Demi";
  font-weight: 400;
  font-size: 80px;
}
.car-img {
  width: 1000px;
  height: 550px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.model {
  font-family: "Gothic Medium";
  font-weight: 200;
  font-size: 60px;
}
.desc {
  margin-top: 31px;
  font-weight: 600;
  font-size: 24px;
}

.buttons {
  margin-top: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
  border-radius: 15px;
  width: 252px;
  height: 82px;
  background-color: #ff00f4;
  transition: 0.2s;
}

.button:hover {
  background-color: #dd00d2;
  cursor: pointer;
}
