header {
  width: 100%;
  height: 75px;
  position: fixed;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(21, 216, 141, 0.918);
  padding: 15px;
  align-items: center;
}

.nav-icon {
  width: 45px;
  margin-right: 10px;
}

nav ul {
  height: 100%;
  width: 100%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

nav li {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100%;
}

.nav-btn {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 185, 125);
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  border-radius: 7px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: rgb(35, 223, 151);
  box-shadow: 0px 0px 20px 1px black;
}
