* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

#box {
  height: 250px;
  width: 250px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* animation: none; */
  transition: 0.7s;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 7px;
}

#box img {
  height: 100%;
  width: 100%;
}

@keyframes moveRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(calc(100vw - 250px), 0%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(calc(100vw - 250px), 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
