<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cümə, ayın 13-ü - ZORTFLIKS</title>
    <link rel="stylesheet" href="../../Static/Style/nav.css" />
    <link rel="stylesheet" href="../../Static/Style/page.css" />
    <link rel="stylesheet" href="../../Static/Style/movie.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../../Templates/home.html"><img src="../../Static/Image/ZortFliks-12-3-2025.png" /></a>
      </li>
      <li>
        <a class="nav-btn" href="../../Templates/home.html">Əsas səhifə</a>
      </li>
      <li><a class="nav-btn" href="../../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../../Templates/about.html">Haqqında</a></li>
    </ul>

    <br /><br />

    <div class="content">
      <iframe
        class="trailerframe"
        allowfullscreen
        src="https://www.youtube.com/embed/Xqqej9T2gqI"
      ></iframe>

      <div class="bottom-bar">
        <h1 class="title">Cümə, ayın 13-ü 1980 - Fraqman</h1>
        <div class="thumbs">
          <span class="rating">❤️234 </span><span class="rating">😆2 </span
          ><span class="rating">😐3 </span><span class="rating">😒5 </span
          ><span class="rating">👎23 </span>
        </div>
      </div>

      <div class="about">
        <h1>Məzmun</h1>
        <p>
          Cümə, ayın 13-ü (ing. Friday the 13th) — ABŞ rejissoru Şon Kanninqem
          tərəfindən çəkilən qorxulu filmi. Film Ceyson Vurhiz haqqında çəkilən
          ilk filmdir.[2][3] Filmin 2009-ci ildə filmin remeyki çəkilmiş. Lakin
          bu film orijinalına görə müvəffəqiyyətsiz olmuşdur. Filmin
          mövzusundakı baş verən əhvalatlar "Kristal gölü" (ing. Crystal Lake)
          ətrafında baş verir. On illər öncə əsrarəngiz cinayətlərin baş
          verdiyi, tərk edilmiş gənclik düşərgəsidir. Bir təşəbbüskar tərəfindən
          düşərgə yenidən açılır və gənclərə bu düşərgədə iş tapmağa kömək
          göstərilir. Düşərgədə yağış yağdıqdan sonra qorxunc cinayətlər
          başlayır. Bu cinayətlər əvvəlkindən daha da qorxulu olur. Gənclər
          sırayla, qorxunc şəkildə cinayətə qurban gedirlər.
        </p>
      </div>
    </div>
  </body>
</html>
