<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elemental - ZORTFLIKS</title>
    <link rel="stylesheet" href="../../Static/Style/nav.css" />
    <link rel="stylesheet" href="../../Static/Style/page.css" />
    <link rel="stylesheet" href="../../Static/Style/movie.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../../Templates/home.html"><img src="../../Static/Image/ZortFliks-12-3-2025.png" /></a>
      </li>
      <li>
        <a class="nav-btn" href="../../Templates/home.html">Əsas səhifə</a>
      </li>
      <li><a class="nav-btn" href="../../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../../Templates/about.html">Haqqında</a></li>
    </ul>

    <br /><br />

    <div class="content">
      <iframe
        class="trailerframe"
        allowfullscreen
        src="https://www.youtube.com/embed/hXzcyx9V0xw"
      ></iframe>

      <div class="bottom-bar">
        <h1 class="title">Elemental - 2023 - Fraqman</h1>
        <div class="thumbs">
          <span class="rating">❤️5 </span><span class="rating">😆2 </span><span class="rating">😐3 </span><span class="rating">😒0 </span><span class="rating">👎0 </span>
        </div>
      </div>

      <div class="about">
        <h1>Məzmun</h1>
        <p>
          Elemental — Pixar Animation Studios tərəfindən Walt Disney Pictures
          üçün istehsal edilmiş 2023-cü il Amerika cizgi romantik komediya-dram
          filmidir. Rejissoru Peter Sohn, prodüseri Denise Ream, ssenari
          müəllifi Sohn, John Hoberg, Kat Likkel və Brenda Hsueh.[b] Filmdə Leah
          Lewis, Mamoudou Athie, Ronnie del Carmen, Shila Ommi, Wendi
          McLendon-Covey və Catherine O'Hara səslənir. Təbiətin antropomorfik
          elementlərinin məskunlaşdığı bir dünyada keçən hekayə Emberin atası
          Berniyə məxsus mağazanı xilas etməyə çalışarkən şəhərdə birlikdə vaxt
          keçirən yanğın elementi Ember Lümen və su elementi Ueyd Rippleni
          izləyir. Elementalın inkişafı, Sohn od və suyun nə vaxtsa bir-birinə
          bağlanıb-bağlanamayacağı ideyasına əsaslanaraq Pixar-a konsept təqdim
          etdikdən sonra başladı. Film Sohnun gəncliyindən ilham alır, 1970-ci
          illərdə Nyu-Yorkda mühacirlərin oğlu kimi böyüyür, şəhərin fərqli
          mədəni və etnik müxtəlifliyini vurğulayır, hekayə isə Guess Who's
          Coming to Lunch (1967), Moonstruck (Am127e) və (Am1270) kimi romantik
          filmlərdən ilhamlanır. İstehsalat qrupu ilham almaq üçün YouTube-da
          Venesiya və Amsterdam kimi şəhər turlarına çoxlu saatlar sərf edərək
          araşdırma apardı. Hər bir personajın, xüsusən də onun əsas
          personajlarının vizual effektlərini və görünüşünü tərtib etmək üçün
          animasiya alətlərindən istifadə edilmişdir. Elemental filminin
          istehsalı həm studiyada, həm də kinorejissorların evlərində təxminən
          200 milyon dollar büdcə ilə yeddi il davam etdi. Thomas Newman
          musiqini bəstələyib, Lauv isə "Steal the Show" mahnısını yazıb ifa
          edib. Film 2022-ci ildə vəfat edən Pixar animatorları Ralph Eggleston,
          Thomas Gonzales, Amber Martorelli və J. Garrett Sheldrewə həsr olunub.
          Elemental 27 may 2023-cü ildə 76-cı Kann Film Festivalında yekun film
          kimi müsabiqədən kənar debüt etdi və 16 iyunda ABŞ-da RealD 3D, 4DX və
          Dolby Cinema formatlarında nümayiş olundu. Başlanğıcda proyeksiyaların
          aşağı səviyyədə açılmasına baxmayaraq, film analitiklər tərəfindən ən
          yaxşı film kimi qiymətləndirildi və dünya üzrə 496,4 milyon dollar
          gəlir əldə etdi. O, Ən Yaxşı Animasiya Filmi üçün Akademiya Mükafatı
          və Ən Yaxşı Animasiya Filmi üçün Qızıl Qlobus Mükafatı da daxil
          olmaqla bir neçə mükafata namizəd olub.
        </p>
      </div>
    </div>
  </body>
</html>
