<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forrest Gump - ZORTFLIKS</title>
    <link rel="stylesheet" href="../../Static/Style/nav.css" />
    <link rel="stylesheet" href="../../Static/Style/page.css" />
    <link rel="stylesheet" href="../../Static/Style/movie.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../../Templates/home.html"><img src="../../Static/Image/ZortFliks-12-3-2025.png" /></a>
      </li>
      <li>
        <a class="nav-btn" href="../../Templates/home.html">Əsas səhifə</a>
      </li>
      <li><a class="nav-btn" href="../../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../../Templates/about.html">Haqqında</a></li>
    </ul>

    <br /><br />

    <div class="content">
      <iframe
        class="trailerframe"
        allowfullscreen
        src="https://www.youtube.com/embed/bLvqoHBptjg"
      ></iframe>

      <div class="bottom-bar">
        <h1 class="title">Forrest Qamp - 1994 - Fraqman</h1>
        <div class="thumbs">
          <span class="rating">❤️566 </span><span class="rating">😆230 </span
          ><span class="rating">😐3 </span><span class="rating">😒5 </span
          ><span class="rating">👎23 </span>
        </div>
      </div>

      <div class="about">
        <h1>Məzmun</h1>
        <p>
          Forrest Qamp – Robert Zemekisin rejissorluğunu, Erik Rotun
          ssenaristliyini etdiyi 1994-cü il ABŞ istehsalı romantik,
          komediya-dram janrında film. Film Vinston Qrumun eyni adlı romanı
          əsası üzərində çəkilsə də, ssenari romandan böyük ölçüdə fərqlənir.
          Baş rollarda Tom Henks, Robin Rayt, Geri Sinis, Maykelti Vilyamson və
          Salli Fild kimi şəxslərin yer aldığı film zəka səviyyəsi 75 olan
          birinin həyatını ələ alır. Zəka səviyyəsindən ötrü dövlət məktəblərinə
          girməkdə belə çətinlik çəkən Forrest Qamp zaman keçdikcə məntiqə uyğun
          gəlməyən nailiyyətlərə imza atır. Hər nə qədər zəka səviyyəsi aşağı
          olsa da, fiziki olaraq son dərəcə sağlam olan Forrest zaman keçdikcə
          baş verən hadisələr zəncirində bizi xəyal edə bilməyəcəyimiz bir
          dünyaya aparır. Film qızıl kürə mükafatına layiq görülmüşdür. Baş
          aktyor Tom Henks isə bir neçə təşkilat tərəfindən dəfələrlə ən yaxşı
          aktyor mükafatına layiq görülmüşdür. 2011-ci ildə Konqres kitabxanası
          Forrest Qamp filmini Birləşmiş Ştatlar Beynəlmiləl Film Kadrlarında
          qorunmalı olan mədəni, tarixi və etik bir film olaraq seçdi.
        </p>
      </div>
    </div>
  </body>
</html>
