<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirpi Sonic - ZORTFLIKS</title>
    <link rel="stylesheet" href="../../Static/Style/nav.css" />
    <link rel="stylesheet" href="../../Static/Style/page.css" />
    <link rel="stylesheet" href="../../Static/Style/movie.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../../Templates/home.html"><img src="../../Static/Image/ZortFliks-12-3-2025.png" /></a>
      </li>
      <li>
        <a class="nav-btn" href="../../Templates/home.html">Əsas səhifə</a>
      </li>
      <li><a class="nav-btn" href="../../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../../Templates/about.html">Haqqında</a></li>
    </ul>

    <br /><br />

    <div class="content">
      <iframe
        class="trailerframe"
        allowfullscreen
        src="https://www.youtube.com/embed/LEjhY15eCx0"
      ></iframe>

      <div class="bottom-bar">
        <h1 class="title">Tapmaca - 2015 - Fraqman</h1>
        <div class="thumbs">
          <span class="rating">❤️235 </span><span class="rating">😆13 </span
          ><span class="rating">😐23 </span><span class="rating">😒0 </span
          ><span class="rating">👎0 </span>
        </div>
      </div>

      <div class="about">
        <h1>Məzmun</h1>
        <p>
          Tapmaca (Inside Out) — Pixar Animation Studios tərəfindən Walt Disney Pictures
          üçün istehsal olunmuş 2015-ci il Amerika cizgi filmidir. Meg LeFauve
          və Josh Cooley ilə birgə yazdığı ssenaridən rejissoru Pit Dokter edib.
          Filmdə Amy Poehler, Phyllis Smith, Richard Kind, Bill Hader, Lewis
          Black, Mindy Kaling, Kaitlyn Dias, Diane Lane və Kyle MacLachlan
          səslənir. Inside Out, ailəsinin köçməsinə uyğunlaşan gənc qız Rilinin
          düşüncələrini və hərəkətlərini beş təcəssüm olunmuş duyğu ilə idarə
          edən daxili işini izləyir. Docter 2009-cu ilin oktyabrında qızının
          böyüdükcə şəxsiyyətindəki dəyişiklikləri müşahidə etdikdən sonra
          Inside Out hamilə qaldı. Layihə sonradan yaşıl işıqlandırıldı və
          Docter və birgə rejissor Ronnie del Carmen zehni dəqiq təsvir etmək
          üçün psixoloqlar və nevroloqlarla məsləhətləşərkən hekayəni inkişaf
          etdirdilər. Təxminən 175 milyon dollarlıq bir büdcə ilə inkişaf beş il
          yarım çəkdi. Filmin hekayəsində və personajlarında baş verən
          əhəmiyyətli dəyişikliklər filmin istehsal qrafikini gecikdirdi. Inside
          Out filmi 18 may 2015-ci ildə 68-ci Kann Film Festivalında debüt etdi
          və iyunun 19-da ABŞ-da nümayiş olundu. O, sənətkarlığı, ssenarisi,
          mövzusu, süjeti və vokal ifaları, xüsusən də Poehler, Smith, Kind,
          Hader, Kaling və Black-in ifaları ilə tənqidi rəğbət qazandı. Milli
          Nəzarət Şurası və Amerika Film İnstitutu “Inside Out” filmini 2015-ci
          ilin ən yaxşı on filmindən biri adlandırıb. O, bütün dünyada 858,8
          milyon dollar gəlir əldə edərək, 2015-ci ilin yeddinci ən çox gəlir
          gətirən filmi kimi teatr nümayişini başa vurub. Film 88-ci Akademiya
          Mükafatlarında iki mükafata namizəd olub, ən yaxşı mükafatlara layiq
          görülüb. Film və Fəlsəfə fəlsəfi jurnalı Inside Out filmini indiyə
          qədər çəkilmiş ən yaxşı cizgi filmlərindən biri kimi tanıdı. Inside
          Out 2 adlı davamı 2024-cü ildə buraxıldı.
        </p>
      </div>
    </div>
  </body>
</html>
