<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Titanik - ZORTFLIKS</title>
    <link rel="stylesheet" href="../../Static/Style/nav.css" />
    <link rel="stylesheet" href="../../Static/Style/page.css" />
    <link rel="stylesheet" href="../../Static/Style/movie.css" />
  </head>
  <body>
    <ul id="nav">
      <li id="nav-icon">
        <a id="nav-icon" href="../../Templates/home.html"><img src="../../Static/Image/ZortFliks-12-3-2025.png" /></a>
      </li>
      <li>
        <a class="nav-btn" href="../../Templates/home.html">Əsas səhifə</a>
      </li>
      <li><a class="nav-btn" href="../../Templates/movies.html">Filmlər</a></li>
      <li><a class="nav-btn" href="../../Templates/about.html">Haqqında</a></li>
    </ul>

    <br /><br />

    <div class="content">
      <iframe
        class="trailerframe"
        allowfullscreen
        src="https://www.youtube.com/embed/kVrqfYjkTdQ"
      ></iframe>

      <div class="bottom-bar">
        <h1 class="title">Titanik - 1997 - Fraqman</h1>
        <div class="thumbs">
          <span class="rating">❤️5 </span><span class="rating">😆2 </span><span class="rating">😐3 </span><span class="rating">😒0 </span><span class="rating">👎0 </span>
        </div>
      </div>

      <div class="about">
        <h1>Məzmun</h1>
        <p>
          Real hadisə əsasında çəkilmiş əfsanəvi film. Filmdə Titanikin səyahətə
          başlayıb batmasına qədər davam edən 2 günün təsviri verilib. Film real
          hadisəyə əsaslansa da burada həmçinin məhəbbət xətti də var. Kasıb
          ailənin oğlu olan Cek (Leonardo Di Kaprio) Titanikin yola çıxmasına 5
          dəqiqə qalmış qumarda gəmiyə bilet qazanır. Bu səyahətdə isə varlı
          ailənin qızı olan Rouzla (Keyt Uinslet) tanış olur. Rouz isə yaşadığı
          yüksək cəmiyyətin sıxıcı əyləncələrindən bezmişdir. Rouzun atası qısa
          müddət əvvəl vəfat etmiş və arxasında böyük məbləğdə borc qoymuşdur.
          Və bu borcun yükü ailəsinin üzərinə düşmüşdür. Buna görə də Rouzun
          anası həm borclarını ödəmək həm də yüksək təbəqə statusu almaq üçün
          Rouzu Kellə nişanlamışdır. Rouz isə Keli sevmir, yalnız anasının
          xahişinə görə evlənməyi qəbul etmişdir. Ancaq Rouz Ceklə tanış
          olduqdan sonra əsl məhəbbətini tapdığını başa düşmüş və Kellə
          evlənməyi rədd etmişdir. Cek aşağı təbəqədən olduğu üçün Rouzun anası
          bunu qəbul etməmişdir. Kel isə hiylə işlədərək Rouza aldığı
          boyunbağını Cekin cibinə atır. Sonra isə onu Cekin oğurladığını deyir.
          Rouz buna əvvəl inanmır ancaq sonra boyunbağının Cekin cibindən
          çıxdığını görür. Ceki gəminin ən alt qatına atıb əllərini
          qandallayırlar. Ancaq sonra Rouz hər şeyi başa düşür və bütün
          təhlükələrə baxmayaraq o Ceki xilas etmək üçün arxasınca gedir. Filmdə
          həmçinin gəmi sahiblərinin özündən razılığı göstərilmişdir. Onlar daha
          tez çatmaq üçün gəminin sürətini artırırlar və buna görə də qarşıdan
          gələn aysberqi gördükdə gəminin istiqamətini dəyişməkdə gecikirlər.
          Filmdə məhəbbət xətti ilə yanaşı sinfi fərqləndirmələrin doğurduğu acı
          nəticələr də göstərilib. Film 11 dəfə Oskar mükafı almış və kino
          tarixinin ən yadda qalan filmlərindən biri olmuşdur.
        </p>
      </div>
    </div>
  </body>
</html>
