<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiBombo - Əlaqə</title>

    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/nav.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../Static/Style/contact.css">
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../Static/Image/Bombo.png" alt="Raiko logo">
        </div>

        <div class="nav">
            <ul>
                <li><a class="nav-btn" href="home.html">Əsas Səhifə</a></li>
                <li><a class="nav-btn" href="clothes.html">Paltarlar</a></li>
            </ul>

            <ul class="nav-right">
                <li><a class="nav-btn" href="about.html"><i class="fa-solid fa-address-card"></i> Haqqında</a></li>
                <li><a class="nav-btn" href="contact.html"><i class="fa-solid fa-phone"></i> Əlaqə</a></li>
            </ul>
        </div>
    </div>
    <div class="container">

        <table border="2px" class="contacts">
            <thead>
                <tr>
                    <th><i class="fa-brands fa-discord"></i> Discord</th>
                    <th><i class="fa-brands fa-instagram"></i> Instagram</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@scoraxe</td>
                    <td>@rai_ko007</td>
                </tr>
            </tbody>
        </table>
        
    </div>

</body>

</html>