<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiBombo - Əsas Səhifə</title>
    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/nav.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../Static/Style/home.css">
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../Static/Image/Bombo.png" alt="Raiko logo">
        </div>

        <div class="nav">
            <ul>
                <li><a class="nav-btn" href="home.html">Əsas Səhifə</a></li>
                <li><a class="nav-btn" href="clothes.html">Paltarlar</a></li>
            </ul>

            <ul class="nav-right">
                <li><a class="nav-btn" href="about.html"><i class="fa-solid fa-address-card"></i> Haqqında</a></li>
                <li><a class="nav-btn" href="contact.html"><i class="fa-solid fa-phone"></i> Əlaqə</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="first-img">

            <div class="pop-up">
                <h1 class="welcome">Xoş gəlmişsiniz.</h1>
            </div>

            <div class="content">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur ratione ipsa laboriosam autem
                    voluptatum aperiam eum minus magnam voluptates, officia rerum modi optio in fuga minima veniam
                    veritatis rem dolor consectetur eius. Accusantium explicabo nemo iusto. Accusamus fugiat maiores,
                    maxime ducimus corporis ratione ab ad iure! Illo aperiam autem voluptas, saepe harum eum sequi
                    temporibus enim deleniti beatae ad ducimus, alias repudiandae maxime. Architecto molestias nobis
                    aliquid temporibus non. Nisi praesentium officiis quasi accusantium iste atque, laborum asperiores
                    nihil tempora animi commodi distinctio nobis aut, labore architecto aliquid quam sint ipsa? Quos
                    nostrum alias quis aliquid fugiat nulla veniam ratione sint sunt. Minima totam laboriosam similique
                    fugiat ipsum iure dolor, temporibus, molestiae ea corporis, non cum impedit id incidunt dignissimos
                    quos. Assumenda iure reprehenderit ipsum, possimus corporis doloremque aperiam sequi fuga quo
                    similique a, quis laboriosam velit aspernatur in beatae repellendus, cumque magni deserunt eaque
                    asperiores consequatur commodi. Saepe velit eum sunt aliquid veritatis iusto molestiae provident
                    nisi aut, dicta enim dignissimos doloribus incidunt deserunt cupiditate tenetur, id at nesciunt
                    sapiente aperiam tempora laudantium porro. Ullam porro similique molestias! Cupiditate quis
                    distinctio aliquam blanditiis. Doloribus porro ducimus pariatur asperiores iste omnis? Consequatur,
                    nihil laudantium. Voluptas rerum sed cum maiores suscipit, ut tenetur vero vel at odit iusto nobis
                    veritatis quaerat sequi modi voluptate eaque temporibus, magnam nemo ad ipsam! Ipsam ea distinctio
                    ducimus ex iste dolore est impedit asperiores minima harum! Nihil adipisci ea delectus, quos unde
                    perspiciatis labore minima nesciunt provident aliquam id voluptates aspernatur neque expedita.
                    Doloribus beatae optio quae vitae voluptatibus, qui nemo architecto mollitia fugit distinctio sint
                    inventore porro cumque possimus ut provident veritatis debitis deleniti nisi iusto laboriosam eius
                    corrupti omnis. Ipsam odit ab nostrum recusandae ut inventore optio quidem, quos, soluta quam rerum
                    laudantium aperiam maxime. Nihil vero cumque provident quod eveniet recusandae.</p>
            </div>
            <br><br><br><br><br>

            <div class="content">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur ratione ipsa laboriosam autem
                    voluptatum aperiam eum minus magnam voluptates, officia rerum modi optio in fuga minima veniam
                    veritatis rem dolor consectetur eius. Accusantium explicabo nemo iusto. Accusamus fugiat maiores,
                    maxime ducimus corporis ratione ab ad iure! Illo aperiam autem voluptas, saepe harum eum sequi
                    temporibus enim deleniti beatae ad ducimus, alias repudiandae maxime. Architecto molestias nobis
                    aliquid temporibus non. Nisi praesentium officiis quasi accusantium iste atque, laborum asperiores
                    nihil tempora animi commodi distinctio nobis aut, labore architecto aliquid quam sint ipsa? Quos
                    nostrum alias quis aliquid fugiat nulla veniam ratione sint sunt. Minima totam laboriosam similique
                    fugiat ipsum iure dolor, temporibus, molestiae ea corporis, non cum impedit id incidunt dignissimos
                    quos. Assumenda iure reprehenderit ipsum, possimus corporis doloremque aperiam sequi fuga quo
                    similique a, quis laboriosam velit aspernatur in beatae repellendus, cumque magni deserunt eaque
                    asperiores consequatur commodi. Saepe velit eum sunt aliquid veritatis iusto molestiae provident
                    nisi aut, dicta enim dignissimos doloribus incidunt deserunt cupiditate tenetur, id at nesciunt
                    sapiente aperiam tempora laudantium porro. Ullam porro similique molestias! Cupiditate quis
                    distinctio aliquam blanditiis. Doloribus porro ducimus pariatur asperiores iste omnis? Consequatur,
                    nihil laudantium. Voluptas rerum sed cum maiores suscipit, ut tenetur vero vel at odit iusto nobis
                    veritatis quaerat sequi modi voluptate eaque temporibus, magnam nemo ad ipsam! Ipsam ea distinctio
                    ducimus ex iste dolore est impedit asperiores minima harum! Nihil adipisci ea delectus, quos unde
                    perspiciatis labore minima nesciunt provident aliquam id voluptates aspernatur neque expedita.
                    Doloribus beatae optio quae vitae voluptatibus, qui nemo architecto mollitia fugit distinctio sint
                    inventore porro cumque possimus ut provident veritatis debitis deleniti nisi iusto laboriosam eius
                    corrupti omnis. Ipsam odit ab nostrum recusandae ut inventore optio quidem, quos, soluta quam rerum
                    laudantium aperiam maxime. Nihil vero cumque provident quod eveniet recusandae.</p>
            </div>
        </div>
    </div>

</body>

</html>