<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiko - Haqqımda</title>
    <link rel="stylesheet" href="../Static/Style/nav.css">
    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <a><img class="nav-icon" src="../Static/Image/R.png" alt="Raiko Logo"></a>
            <ul>
                <li><a class="nav-btn" href="home.html"><i class="fa-solid fa-house"></i> Əsas Səhifə</a></li>
                <li><a class="nav-btn" href="portfolio.html"><i class="fa-solid fa-suitcase"></i> Portfolio</a></li>
                <li><a class="nav-btn" href="about.html"><i class="fa-solid fa-note-sticky"></i> Haqqımda</a></li>
                <li><a class="nav-btn" href="contact.html"><i class="fa-solid fa-envelope"></i> Əlaqə</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="aboutme">
            <article>
                <p>
                    Salam, Mən Rais.
                    18 yaşlı, Autizmli və hər türlü insanlara qarşı inkluziv bir şəxsəm. (Fərqli olmağın necə hiss
                    etdiyini anlayıram.)<br>
                    Etməyi sevdiyim bir çox şey olsa belə texnologiya uşaqlığımdan bəri həmişə maraq dairəmdə daha çox
                    olub.<br>
                    Yemək yaxud şirniyyat bişirməyi, kompüter və telefon təmir etməyi,<br>
                    Ya da dağlıq yerlərdə yada parklarda dostlarım vəya əmim oğulları ilə gəzməyi çox sevirəm.
                </p>
            </article>
        </section>
    </main>

</body>

</html>