<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiko - Əlaqə</title>
    <link rel="stylesheet" href="../Static/Style/nav.css">
    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/contact.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <a><img class="nav-icon" src="../Static/Image/R.png" alt="Raiko Logo"></a>
            <ul>
                <li><a class="nav-btn" href="home.html"><i class="fa-solid fa-house"></i> Əsas Səhifə</a></li>
                <li><a class="nav-btn" href="portfolio.html"><i class="fa-solid fa-suitcase"></i> Portfolio</a></li>
                <li><a class="nav-btn" href="about.html"><i class="fa-solid fa-note-sticky"></i> Haqqımda</a></li>
                <li><a class="nav-btn" href="contact.html"><i class="fa-solid fa-envelope"></i> Əlaqə</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="contacts">
            <table border="1px">
                <h1 style="color: black">Mənimlə əlaqə saxlayın!</h1>
                <thead>
                    <tr>
                        <th><i class="fa-brands fa-discord"></i> Discord</th>
                        <th><i class="fa-brands fa-instagram"></i> Instagram</th>
                        <th><i class="fa-solid fa-at social"></i> E-Poçt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="social">@scoraxe</a></td>
                        <td><a class="social">@rai_ko007</a></td>
                        <td><a class="social">gameplayblits@gmail.com</a></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </main>

</body>

</html>