<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiko - Proyektlərim</title>
    <link rel="stylesheet" href="../Static/Style/nav.css">
    <link rel="stylesheet" href="../Static/Style/page.css">
    <link rel="stylesheet" href="../Static/Style/portfolio.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <a><img class="nav-icon" src="../Static/Image/R.png" alt="Raiko Logo"></a>
            <ul>
                <li><a class="nav-btn" href="home.html"><i class="fa-solid fa-house"></i> Əsas Səhifə</a></li>
                <li><a class="nav-btn" href="portfolio.html"><i class="fa-solid fa-suitcase"></i> Portfolio</a></li>
                <li><a class="nav-btn" href="about.html"><i class="fa-solid fa-note-sticky"></i> Haqqımda</a></li>
                <li><a class="nav-btn" href="contact.html"><i class="fa-solid fa-envelope"></i> Əlaqə</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="projects">
            <aside></aside>
            <article class="project">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fa3%2Fd1%2F9c%2Fa3d19cd17a81c12be4bb7bcb2a6bd486.jpg&f=1&nofb=1&ipt=7397322f48447e2b1e6c539607c87b1e1ff235fb239c72f58c9263e4f871c087"
                        alt="Bookshelf">
                </div>

                <div class="info">
                    <h1 class="name">
                        Libroverse - Kitab Mağazası
                    </h1>
                    <p class="description">
                        Sadə Spring-Boot ilə yazılmış MVC veb applikasiyasıdır. BakuCodeCenter-də yazdığım
                    </p>
                </div>

                <div class="bottom">
                    <a class="enter" href="https://github.com/RaisTheCoder/Libroverse--Book-Shopping-Website-Project"
                        target="_blank">
                        Proyektə
                        Daxil Ol</a>
                </div>
            </article>

            <article class="project">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.freepnglogos.com%2Fuploads%2Fcoffee-logo-png%2Fcafe-coffee-logos-logo-elements-9.png&f=1&nofb=1&ipt=889cd35fc86f46f2a2495f82dd08aac01801a4bae981b41e373d8071cf393faf"
                        alt="Coffee">
                </div>

                <div class="info">
                    <h1 class="name">
                        Cafe-CRUD - R-Keeper Bənzəri
                    </h1>
                    <p class="description">
                        Hələ də üstündə çalışmağa çalışdığım Spring-Boot proyektidir. çox qəribə idealarla doluyam.
                    </p>
                </div>

                <div class="bottom">
                    <a class="enter" href="https://github.com/RaisTheCoder/Cafe-CRUD" target="_blank">
                        Proyektə
                        Daxil Ol</a>
                </div>
            </article>

            <article class="project">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fad%2F55%2Fda%2Fad55daf2e012dbab42fac3c9ef3fab59.jpg&f=1&nofb=1&ipt=7981473306dfbc1ec5cb40b303fe2f929c3d51748247b6d084bc27044fbc425a"
                        alt="Electronics Shop">
                </div>

                <div class="info">
                    <h1 class="name">
                        ElectRa - Elektronika Mağazası
                    </h1>
                    <p class="description">
                        Spring Boot MVC (yenə) ilə yazılmış Elektronika Mağaza saytı<br>
                        (Hələ də bitməyib)
                    </p>
                </div>

                <div class="bottom">
                    <a class="enter" href="https://github.com/RaisTheCoder/ElectRa---Electronics-Shop-Project"
                        target="_blank">
                        Proyektə
                        Daxil Ol</a>
                </div>
            </article>

            <aside></aside>
        </section>
    </main>

</body>

</html>