header {
  width: 100%;
  height: 80px;
  padding: 20px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

.brand {
  gap: 11px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  gap: 40px;
  display: flex;
  list-style: none;
}

.nav li {
  display: flex;
  align-items: center;
}

.nav-btn a {
  color: #999999;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.nav-btn a:hover {
  color: white !important;
}

.nav-btn a:active {
  color: #999999 !important;
}

.active {
  color: white !important;
}

.right {
  display: flex;
  align-items: center;
}

.register-btn {
  height: 40px;
  padding: 8px 24px;
  background-color: #9dff3a;
  border-radius: 40px;
  gap: 6px;
  display: flex;
  align-items: center;
}

.register-btn a {
  height: 100%;
  width: 100%;
  color: #000000 !important;
  display: flex;
  align-items: center;
}

.register-btn:active {
  background-color: rgb(134, 216, 52);
  transition: 0.2s;
}

.brand-name {
  font-size: 22px;
  font-weight: 500;
}
