@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: white;
  letter-spacing: 1px;
}

body {
  background-color: black;
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 120px;
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #ff2b51;
  letter-spacing: 27%;
  font-weight: 300;
  font-size: 24px;
  margin-left: 10px;
}

.name {
  font-size: 40px;
  text-align: right;
  color: #ff2b51;
}

.lastname {
  font-weight: 600;
  color: #ff2b51;
}

/* Main */
main {
  height: calc(100vh - 270px);
  width: 100%;
}

.background {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.background img {
  width: 49%;
  z-index: -1;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  position: absolute;
  bottom: 0;
  left: 29%;
  width: 38%;
}

/* Probably meant to be footer */
footer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

#title {
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

#country {
  color: #c0c0c0;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}

#country span {
  font-size: 28px;
  color: #ff2b51;
  font-weight: bold;
}

#behance {
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3px;
  border-radius: 50%;
}

#behance i {
  color: black;
}

#socials {
  display: flex;
  align-items: center;
  z-index: 5;
}

#socials ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#socials a {
  font-size: 24px;
  text-decoration: none;
}

#role {
  font-size: 30px;
}

/* Navigation */
nav {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: fit-content;
  height: fit-content;
  z-index: 5;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
  list-style: none;
}

nav li {
  rotate: 90deg;
}

nav a {
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}
